/* HERO IMAGE SEQUENCE STYLES */

@media (min-width: 481px) {
    #hero-images-0 {
        position: relative;
        width: 100%;
        max-width: 100vw;
        height: auto;
        max-height: 94vh;
        /* To show a few pixels of the section beneath */
        aspect-ratio: 16 / 9;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        pointer-events: none;
    }

    #hero-images-0 canvas {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        display: block;
        z-index: 10;
        transition: opacity 0.6s ease;
        opacity: 0;
    }

    #hero-images-0.canvas-active canvas {
        opacity: 1;
    }
}

.CONTENT-WRAPPER{
    position: relative;
    top: 30px;
}